@model List<AppWeb.Models.Category>

@{
    ViewBag.Title = "New product";
}

<h2>New Product</h2>

<form class="text-center border border-light p-5">

    <input type="text" id="namebox" name="nametxt" class="form-control mb-4" placeholder="Name">


    <input type="text" id="pricebox" name="pricetxt" class="form-control mb-4" placeholder="Price">

    <div class="row">
        <div class="form-group">
            @Html.DropDownList("category", ViewBag.categ as List<SelectListItem>,
                               "Select Category", new { @class = "form-control" })
        </div>
    </div>

    <button class="btn btn-info btn-block my-4" onclick="btnclick(s,e)" value="Create" id="signupbtn" name="addproduct" type="submit">Create</button>
</form>
@*<script type="text/javascript">
    function btnclick(s, e) {
        var x = document.getElementById("namebox").value;
        var xy = document.getElementById("pricebox").value;
        if (x == null || x.trim() === '' || xy == null || xy.trim() === '' ) {
            alert("Campo vacio");
        }
    }
</script>*@