@model List<AppWeb.Models.Categorie>

@{
    ViewBag.Title = "NewProduct";
}

<h2>New Product</h2>

<form class="text-center border border-light p-5">

    <input type="text" id="namebox" name="nametxt" class="form-control mb-4" placeholder="Name">


    <input type="text" id="pricebox" name="pricetxt" class="form-control mb-4" placeholder="Price">


    <button class="btn btn-info btn-block my-4" value="SignUp" id="signupbtn" name="signupuser" type="submit">Create</button>
</form>