
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>


<div class="container">
    <h2>Login</h2>

    <div>
        <form class="text-center border border-light p-5">
      
            <input type="text" id="userbox" name="usertxt" class="form-control mb-4" placeholder="User">

            <br />
       
            <input type="password" id="passbox" name="passtxt" class="form-control mb-4" placeholder="Password">

            <br />

            <button class="btn btn-info btn-block my-4" value="Login" id="signbtn" name="signuser" type="submit">Sign in</button>

            <br />
       
            <p>
                Not a member?
                <a>
                    @Html.ActionLink("Sign Up", "Index", "UserRegister")
                </a>
            </p>
        </form>
    </div>
</div>

<!-- Default form login -->
