@model List<AppWeb.Models.Categorie>
@{
    ViewBag.Title = "Category";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>
<h2>Categorias</h2>

<form class="text-center border border-light p-5">

    <input type="text" id="catetxt" name="categorytxt" class="form-control mb-4" placeholder="New category">

    <br />

    <button class="btn btn-primary btn-block" onclick="btnclick(s,e)" value="Add" id="addbtn" name="btncategory">Add</button>

    <br />
</form>
<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Categories
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.categorie
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCategory", new { id = item.idcategorie })
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.categorie })
                </td>
            </tr>


        }
    </table>


</div>
<script type="text/javascript">
    function btnclick(s, e) {
        var x = document.getElementById("catetxt").value;
        if (x == null || x.trim() === '') {
            alert("Campo vacio");
        }
    }
</script>
