@model List<AppWeb.Models.Categorie>
@{
    ViewBag.Title = "Index";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    </head>
<h2>Categorias</h2>

<form class="text-center border border-light p-5">

    <p class="h4 mb-4">New category</p>
    
    <input type="text" id="userbox" name="categorytxt" class="form-control mb-4" placeholder="Category">

    <button class="btn btn-primary btn-block" value="Add" id="addbtn" name="btncategory" type="submit">Add</button>
</form>
<div>
    @foreach (var item in Model)
    {
        if (item == null)
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>No Elements</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-bordered">  
                <tr>
                    <th>
                        Categories
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                    <tr>
                        <td>
                            @item.categorie                           
                        </td>
                        <td>                         
                             @Html.ActionLink("Edit", "EditCategory", new { id = item.idcategorie })  
                             @Html.ActionLink("Delete", "DeleteCategory", new { id = item.categorie })  
                        </td>
                    </tr>                 
            </table>
        }

     }


</div>

