@model List<AppWeb.Models.Categorie>
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>
<h2>Categorias</h2>
<div>
    @foreach (var item in Model)
     {
        if (item == null)
        {
            <table class="table">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">Categorias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No Elements</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">Categorias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@item.categorie</td>
                    </tr>
                </tbody>
            </table>
        }

     }


</div>

