
@{
    ViewBag.Title = "Index";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    </head>
<h2>Categorias</h2>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">Categorias</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            
        </tr>
        <tr>
            <td>Jacob</td>
            
        </tr>
        <tr>
            <td>Larry</td>            
        </tr>
    </tbody>
</table>

